.weather-container {
  width: auto;
  max-width: 500px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  border-radius: 2.5rem;
  border-radius: 46px;
  backdrop-filter: blur(6px);
  background-color: rgba(255, 196, 0, 0.1);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 0px rgba(255,255,255,0.4) solid;
  border-bottom: 0px rgba(40,40,40,0.35) solid;
  border-right: 0px rgba(40,40,40,0.35) solid;
}

.container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-top h1 {
  font-size: 1.7rem;
}

.weather-title {
  margin: 10px 0;
}

.paragraph {
  font-size: 1.6rem;
  font-weight: 200;
  color: #ffffff;
}

/* mid */

.container-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather-temp-main {
  font-size: 4rem;
  color: white;
  font-weight: 100;

}

.weather-tepm {
  vertical-align: text-top;
  font-size: 2rem;
  color: #ffffff;
  font-weight: 100;

}


/* bot */

.weather-icon-location {
  margin-right: 10px;
  font-size: 1.5rem;
  color: #f8c514;
}

.container-bot {
  display: flex;
  align-items: center;
}